nav {
  background-color: rgb(240, 33, 171);
  display: flex;
  justify-content: space-between;
}
nav .logo .image {
  border: solid red 3px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
nav #head1 {
  background-color: rgb(153, 202, 18);
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: solid red 3px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 15px;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  margin: 15px;
  font-size: 50px;
  color: white;
}
